:root {
  /* my vars */
  --myfg: #ffffff !important;
  --mybg: rgba(0, 0, 0, 0.0) !important;
  --mydev: #ff00ff !important;
  --mydev2: #00ff00 !important;
  
  --zen-primary-color: #0f0 !important;
  /* tabs */
  --tab-selected-textcolor: var(--myfg) !important;
  --tab-selected-bgcolor: var(--mybg) !important;
  --tab-selected-outline-color: var(--myfg) !important;
  --tab-hover-background-color: var(--mybg) !important;
  --tab-hover-outline-color: var(--myfg) !important;
  
  /* toolbar buttons */
  --toolbarbutton-active-background: var(--mybg) !important;
  --toolbarbutton-hover-background: var(--mybg) !important;
  --toolbarbutton-hover-outline-color: var(--myfg) !important;
  --toolbarbutton-icon-fill: var(--myfg) !important;
  
  --toolbar-field-focus-border-color: var(--myfg) !important;
  --toolbar-field-border-color: var(--myfg) !important;
  --toolbar-field-focus-background-color: var(--mybg) !important;
  
  /* essentials tab when active, suggestion box when typing, */
  --zen-primary-color: var(--mybg) !important;

  /* color of toolbar icons */
  --toolbarbutton-icon-fill: var(--myfg) !important;
  
  /* color or urlbar text and icons */
  --toolbar-field-color: var(--myfg) !important;
  
  /* text and close icon color of the active tab */
  --tab-selected-textcolor: var(--myfg) !important;

  /* text color of the active urlbar */
  --toolbar-field-focus-color: var(--myfg) !important;
  
  /* color or bookmark text */
  --toolbar-color: var(--myfg) !important;
  
  /* color of text and bg of arrow panels (dropdowns and such) */
  --arrowpanel-color: var(--myfg) !important;
  --arrowpanel-background: rgba(0, 0, 0, 0.65) !important;
}

/* buttons in dropdown menus on hover */
.subviewbutton:hover {
  background: var(--mybg) !important;
  border: 1px solid var(--myfg)
}

/* Force all text to your chosen font */
* {
    font-family: "Hermit", sans-serif !important;
}


/* buttons in dropdown menus */
.subviewbutton {
  border: 1px solid var(--mybg)
}

/* urlbar when not clicked */
.urlbar-background {
  background-color: var(--mybg) !important;
  border: 1px solid var(--myfg) !important;
}

/* color of link in suggestions search menu */
.urlbarView-url {
  color: var(--myfg) !important;
}

/* color of button when active */
toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: var(--myfg);
    }
  }
}

/* tab close button on hover */
.tab-close-button:hover {
  background-color: var(--mybg) !important;
}

/* selected tab background */
.tabbrowser-tab[selected="true"] .tab-background {
  background-color: var(--mybg) !important;
}

/* workspace button */
.zen-current-workspace-indicator {
  display: none !important;
}

/* hide the icon border of the tab logo and add a border around the entire thing */
#tabs-newtab-button:hover {
  border: 1px solid var(--myfg) !important;
  --toolbarbutton-hover-outline-color: var(--mybg) !important;
  background: var(--mybg) !important;
}

/* explicily set the background color of the new tab button */
#tabs-newtab-button {
  background: var(--mybg) !important;
}

/* line seperating the workspace and tabs */
.pinned-tabs-container-separator {
  display: none !important;
}

/* search suggestions */
.urlbarView-row:hover {
  border: 1px solid #fff !important;
  border-left: 3px solid #fff !important;
  background: var(--mybg) !important;
}

/* search suggestions */
.urlbarView-row {
  color: #fff !important;
}

/*
.urlbar-background {
  background: rgba(0, 0, 0, 0.94) !important; 
  backdrop-filter: blur(30px) !important; 
}
*/


#urlbar[breakout-extend="true"],
#urlbar[breakout-extend="true"] .urlbar-background {
    background: rgba(0, 0, 0, 0.55) !important; /* semi-transparent background */
    backdrop-filter: blur(30px) !important;     /* blur the background */
}

/* dropdown menus */
.menu-popup, 
.popup-internal, 
.popup-internal * {
  background-color: var(--mybg) !important;
  color: var(--myfg) !important;
  border-color: var(--myfg) !important;
}


/* not sure what any of these actually do, but i changed them all to my colorsheme */
.identity-color-blue {
  --identity-tab-color: #88bbff !important;
  --identity-icon-color: #88bbff !important;
}
.identity-color-turquoise {
  --identity-tab-color: #049595 !important;
  --identity-icon-color: #049595 !important;
}
.identity-color-green {
  --identity-tab-color: #80ffaa !important;
  --identity-icon-color: #80ffaa !important;
}
.identity-color-yellow {
  --identity-tab-color: #d8d877 !important;
  --identity-icon-color: #d8d877 !important;
}
.identity-color-orange {
  --identity-tab-color: #ff9900 !important;
  --identity-icon-color: #ff9900 !important;
}
.identity-color-red {
  --identity-tab-color: #ff8080 !important;
  --identity-icon-color: #ff8080 !important;
}
.identity-color-pink {
  --identity-tab-color: #ff55ff !important;
  --identity-icon-color: #ff55ff !important;
}
.identity-color-purple {
  --identity-tab-color: #bf99ee !important;
  --identity-icon-color: #bf99ee !important;
}


/* Change background color on hover */
.tabbrowser-tab[pinned] .tab-background, .tabbrowser-tab, .zen-essentials-container, .zen-workspace-tabs-section {
    background-color: var(--mybg) !important;
    
}

/* Change background color on hover */
.tab-stack {
    background-color: var(--mybg) !important;
}

