/*____        __ _    _____             __ _
|  __ \      / _(_)  / ____|           / _(_)
| |__) |___ | |_ _  | |     ___  _ __ | |_ _  __ _
|  _  // _ \|  _| | | |    / _ \| '_ \|  _| |/ _` |
| | \ \ (_) | | | | | |___| (_) | | | | | | | (_| |
|_|  \_\___/|_| |_|  \_____\___/|_| |_|_| |_|\__, |
-By N0AH                                      __/ |
                                             |__*/

/*#############################
###           VARS          ###
#############################*/

* {
    fg: #FFF;
    bg: #0000;
    bg-window: #000000a3;
    font: "CaskaydiaMono Nerd Font 12";
}


/*#############################
###          WINDOW         ###
#############################*/

window {
    width:                       20em;
    border-radius:               12;
    border:                      2;
    border-color: 		 var(fg);
    background-color:            var(bg-window);
}


/*#############################
###         LISTVIEW        ###
#############################*/

listview {
    lines: 			 20;
    background-color:            transparent;
    border-color:                transparent; /* hides dashed line */
}
scrollbar {
    background-color: var(bg);
    handle-color: var(fg);
    handle-rounded-corners: true;
}


/*#############################
###         ELEMENT         ###
#############################*/

element {
    enabled:                     true;
    margin:                      1px;
    background-color:            transparent;
    cursor:                      pointer;
    children:                    [ element-icon, element-text ];
}
element normal.normal, element selected.active, element alternate.normal, element alternate.active,  element normal.active {
    background-color:            var(bg);
    text-color:                  var(fg);
}
element selected.normal {
    background-color:            var(bg);
    border-color:                var(fg);
    border:                      2px;
    text-color:                  var(fg);
    border-radius:               4px;
}
element-icon {
    text-color:                  inherit;
    size:                        30px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
}


/*#############################
###         INPUTBAR        ###
#############################*/

inputbar {
    border-color: var(fg);
    border: 2;
    margin: 5px;
    border-radius: 4;
}
entry {
    text-color: var(fg);
    placeholder: "";
}
prompt, textbox-prompt-colon {
    enabled: false;
}
num-rows, textbox-num-sep, num-filtered-rows {
    text-color:  var(fg);
}


/*#############################
###      ERROR MESSAGE      ###
#############################*/

error-message {
    text-color:                  var(fg);
}
