:root {
  
/* TODO
  [ ] fix code
  [ ] add vars
  [ ] remove excess code
  [ ] add comments
  [ ] revamp right-click menu (more than one)
  [ ] chang look of selected tabs
*/
  
  /* My Vars */	
  --mybackground: #161414 !important;
  --myforeground: #ebdbc2 !important;
  --myfont: "Hermit" !important;
  
  --myrad: 0px !important; /* corner radius */

  
  /* Buttons */
  --button-background-color-ghost-hover: var(--mybackground) !important;
  --button-border-color-ghost-hover: transparent !important;
  --button-text-color-ghost-hover: var(--myforeground) !important;
  
  
  /* Tabs */
  --tab-selected-textcolor: var(--myforeground) !important;
  --tab-selected-bgcolor: var(--mybackground) !important;
  --tab-selected-outline-color: var(--background) !important;
  
  --tab-hover-background-color: var(--mybackground) !important;
  --tab-hover-outline-color: var(--myforeground) !important;
  

  /* Toolbar */
  --toolbarbutton-active-background: var(--mybackground) !important;
  --toolbarbutton-hover-background: var(--myforeground) !important;
  --toolbarbutton-hover-outline-color: var(--mybackground) !important;
  --toolbarbutton-icon-fill: var(--myforeground) !important;

  --toolbar-field-focus-border-color: transparent !important;
  --toolbar-field-border-color: transparent !important;
  --toolbar-field-focus-background-color: var(--mybackground) !important;
  --toolbar-color: var(--myforeground) !important;


  /* Misc */
  --arrowpanel-border-color: var(--mybackground) !important;

  --urlbarView-separator-color: var(--myforeground) !important;

  --panel-color: var(--mybackground) !important;
  
  --urlbar-box-hover-bgcolor: var(--mybackground) !important;
  --color-accent-primary: var(--myforeground) !important;
  
  --focus-outline-color: transparent !important;
  --tab-selected-shadow: none !important;
  
  /* Corners */
  --border-bottom-left-radius: var(--myrad) !important;
  --border-bottom-right-radius: var(--myrad) !important;
  --border-top-left-radius: var(--myrad) !important;
  --border-top-right-radius: var(--myrad) !important;
  --arrowpanel-border-radius: var(--myrad) !important;
  --arrowpanel-menuitem-border-radius: var(--myrad) !important;
  --border-radius-circle: var(--myrad) !important;
  --border-radius-large: var(--myrad) !important;
  --border-radius-medium: var(--myrad) !important;
  --border-radius-small: var(--myrad) !important;
  --border-radius-xsmall: var(--myrad) !important;
  --button-border-radius: var(--myrad) !important;
  --tab-border-radius: var(--myrad) !important;
  --toolbarbutton-border-radius: var(--myrad) !important;
  --urlbar-inner-border-radius: var(--myrad) !important;
  --menuitem-border-radius: var(--myrad) !important;
}



/* Sidebar */
#sidebar-main {
  background-color: var(--mybackground) !important; 
}

.sidebar-splitter {
  background-color: var(--mybackground) !important;
}

/*
#sidebar-tools-and-extensions-splitter {
  border-color: var(--myforeground) !important;
}
*/

/* Toolbox */

#navigator-toolbox {
  background-color: var(--mybackground) !important;
  /*border-bottom: 0px solid var(--myforeground) !important;*/
}


.browser-toolbar {
  color: var(--myforeground) !important;
}

toolbarbutton-animatable-box, .toolbarbutton-1 {
  color: var(--myforeground) !important;

}

.searchmode-switcher chromeclass-toolbar-additional * {
  background-color: var(--mybackground) !important;
}


/* Toolbar buttons on hover */
toolbarbutton:hover .toolbarbutton-icon { 
  background-color: var(--myforeground) !important; /* background */
  fill: var(--mybackground) !important; /* icon */
}

toolbarbutton:hover  { /* text */
  color: var(--mybackground) !important;
}



/* Font */
* { font-family: var(--myfont) !important; }

/* Panel button on hover */
:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, 
.widget-overflow-list 
.toolbarbutton-1, 
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), 
[overflowedItem="true"]) > toolbarbutton):hover {
    /*box-shadow: 0 0 0 1px #fff inset !important;*/
    background-color: var(--myforeground) !important;
  }
}

/* Arrow panel background */
.panel-viewcontainer {
  background-color: var(--mybackground) !important;
}






/* Tabs */

/* Normal tab */

/* Active tab */
.tabbrowser-tab[selected="true"] .tab-close-button { /* close button */
  background-color: var(--myforeground) !important;
}

.tabbrowser-tab[selected="true"] .tab-background { /* background */
  background-color: var(--myforeground) !important;
}

.tabbrowser-tab[selected="true"] .tab-label-container { /* text */
  color: var(--mybackground) !important;
}

.tabbrowser-tab[selected="true"] .tab-icon-image { /* icon */
  fill: var(--mybackground) !important;
}


/* Hover tab */
.tabbrowser-tab:hover .tab-close-button { /* close button */
  background-color: var(--myforeground) !important;
  fill: var(--mybackground) !important;
}

.tabbrowser-tab .tab-close-button:hover { /* close button on hover */
  background-color: var(--mybackground) !important;
  fill: var(--myforeground) !important;
}

.tabbrowser-tab:hover .tab-background { /* background */
  background-color: var(--myforeground) !important;
}

.tabbrowser-tab:hover .tab-label-container { /* text */
  color: var(--mybackground) !important;
}

.tabbrowser-tab:hover .tab-icon-image { /* icon */
  fill: var(--mybackground) !important;
}

/* Multi-selected tab */


.tabbrowser-tab[multiselected="true"] .tab-background { /* border */
  box-shadow:
    0 0 0 2px var(--mybackground),
    0 0 0 4px var(--myforeground) !important; 
}


/* right-click menu */
.menupopup-arrowscrollbox { /* main panel */
  background-color: var(--mybackground) !important;
  color: var(--myforeground) !important;
  border-radius: 0px !important;
}
menuitem { /* menu items */
  border-radius: 0px !important;
}
menuitem:hover { /* menu items on hover */
  background-color: var(--myforeground) !important;
  color: var(--mybackground) !important;
}



















/* MAKE SURE TO ADD `!important` flag */
/* not cleaned */

.bookmark-item[open="true"] {
  background-color: var(--myforeground) !important;
  color: var(--mybackground) !important;
  & .toolbarbutton-icon {
    fill: var(--mybackground) !important;
    background-color: var(--myforeground) !important;
  }
}





/* sidebar button on hover */
#sidebar-button:hover .toolbarbutton-badge-stack {
  background-color: var(--myforeground) !important;
}


.toolbarbutton-1[open="true"] .toolbarbutton-badge-stack {
  background-color: var(--myforeground) !important;
  fill: var(--mybackground) !important;
}

.toolbarbutton-1[open="true"]:hover .toolbarbutton-badge-stack {
  background-color: var(--mybackground) !important;
  fill: var(--myforeground) !important;
}

.toolbarbutton-1[open="true"]:hover .toolbarbutton-badge-stack .toolbarbutton-icon {
  background-color: var(--mybackground) !important;
  fill: var(--myforeground) !important;
}


.panel-subview-body {
  background-color: var(--mybackground);
}



.editBookmarkHeaderSeparator {
  color: #000 !important;
}


toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:not(:focus-visible) {
      &:hover > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
        outline-color: var(--toolbarbutton-hover-outline-color);
        /*box-shadow: 0 0 0 1px #fff inset !important;*/
      }
    }
  }
}

.urlbarView-body-outer {
  display: none !important;
}

/* icon when searching (to revert back to url) */
.urlbar-revert-button {
  fill: var(--mybackground) !important;
}
.urlbar-revert-button:hover {
  fill: var(--myforeground) !important;
}

/* search engine switcher */
#urlbar-searchmode-switcher {
  display: none !important;
}

/* tab spacing */
.tab-background { /* outside */
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  padding-left: 1px !important;
}
.tab-content { /* inside */
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.identity-box-button {
  display: none !important;
}



/* tab spacing */
.urlbar-input-box {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#tabs-newtab-button {
   margin-left: 5px !important;
   margin-right: 5px !important;
   padding-left: 5px !important;
}

#tabs-newtab-button:hover {
  background-color: var(--myforeground) !important;
  color: var(--mybackground) !important;
  fill: var(--mybackground) !important;
}

/*
#tabbrowser-arrowscrollbox[orient="vertical"] > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button, #vertical-tabs-newtab-button {
  &:hover {
    box-shadow: 0 0 0 1px var(--myforeground) inset !important;
  }
}
*/

/* Urlbar */
.urlbar-input-container {
  background-color: var(--myforeground) !important;
  color: var(--mybackground) !important;
}

/* Urlbar placeholder text */
#urlbar-input::placeholder {
  color: var(--mybackground) !important;
}

/* tab preview panel */
#tab-preview-panel * {
  background-color: var(--mybackground) !important;
  color: var(--myforeground) !important;
}

/* More robust targeting */
#urlbar input::selection {
  background-color: var(--mybackground) !important;
  color: var(--myforeground) !important;
}

/* Arrowbox */
.panel-header, toolbarseparator {
  background-color: var(--mybackground) !important;
  color: var(--myforeground) !important;
}



/* Hidden Elements */

/* App menu */
#appMenu-fxa-status2, /* sync button */
#appMenu-profiles-button,           
#appMenu-fxa-separator, /* profile seperator */
#appMenu-new-tab-button2,
#appMenu-new-window-button2,      
#appMenu-new-private-window-button2 + toolbarseparator,
#appMenu-passwords-button,
#appMenu-save-file-button2,
#appMenu-extensions-themes-button,
#appMenu-fullscreen-button2,
#appMenu-help-button2,

/* Right-click menu - Page */
#context-back,
#context-forward,
#context-reload,
#context-bookmarkpage,
#context-sep-navigation,
#context-savepage,
#context-viewsource,
#context-inspect-a11y,

/* Right-click menu - One tab */
#context_openANewTab,
#context_moveTabToNewGroup,
#context_separateSplitView + menuseparator,
#context_reloadTab,
#context_toggleMuteTab,
#context_pinTab,
#context_unloadTab,
#context_bookmarkTab,
#context_moveTabOptions,
#context_closeTab,
#context_closeDuplicateTabs,
#context_closeTabOptions,
#context_undoCloseTab,
#context_selectAllTabs + menuseparator,

/* Right-click menu - Multi-select tabs */
#context_reloadSelectedTabs,
#context_toggleMuteSelectedTabs,
#context_pinSelectedTabs,
#context_bookmarkSelectedTabs,

/* Right-click menu - Sidebar */
#toolbar-context-openANewTab,
#toolbarNavigatorItemsMenuSeparator,
#toolbar-context-reloadSelectedTab,
#toolbar-context-bookmarkSelectedTab,
#toolbar-context-selectAllTabs,
#toolbar-context-customize-sidebar,
#tabbarItemsMenuSeparator,

/* Right-click menu - Bookmarks bar */
#show-other-bookmarks_PersonalToolbar,
#placesContext_showAllBookmarks,

/* Right-click menu = Toolbar */
#toggle_toolbar-menubar,
#toolbar-context-toggle-vertical-tabs, /* linked in other contexts as well */
#sidebarRevampSeparator,


/* Sidebar */
*.buttons-wrapper, /* bottom buttons   */
#sidebar-tools-and-extensions-splitter, /* button seperator */

/* Url bar */
#star-button-box  /* bookmark (star) button */
{
  display: none !important;
}