/* global vars */
:root 
{
    --my-bg: #161414;
    --my-fg: #ebdbc2;
}

@-moz-document domain("desmos.com")
{
  /* graph lines and icons */
  .dcg-graph-inner, 
  .dcg-do-not-blur.dcg-forced-color-none.dcg-circular-icon,
  .dcg-color-swatch
  { filter: invert(1); }
}

@-moz-document domain("libbyapp.com")
{
  /* book reader background */
  .sheet,
  .book-surface, 
  .nav-action-bar
  { background-color: var(--my-bg) !important; }
  .data-lighting_dark 
  { fill: var(--my-bg) !important; }

  /* audiobook player background */
  .halos-attached, .nav-progress-bar
  { background-color: var(--my-bg) !important; }

  /* audiobook cover image */
  .cover-image
  { display: none !important; }
}

@-moz-document domain("khanacademy.org") 
{
  /* local vars */
  root:
  {
    --khan-bg: #181a1b;
    --khan-fg: #cfcbc4;
  }

  .image-loader-img, /* geometric diagrams */
  div[role="img"][aria-label="incorrect"] /* incorrect question bubble */
  { filter: invert(1) !important; }

  /* course page banner */
  .user-info.clearfix 
  { background: var(--khan-bg) !important; }

  /* do not display */
  ._qaibqsd,        /* teks info in quiz */
  ._uhlm2,          /* related content in quiz */
  ._vy40o.stp-animated-banner,  /* streak banner */
  ._1sow8qk9,       /* explore btn */
  ._1q85ku14,       /* vid/exercise location path */
  ._ua437bw,        /* sidebar more info */
  ._1q85ku14,       /* sidebar info separator */
  ._uzuiqk3,        /* sidebar unit info */
  ._7ggvu8          /* "you might need calculator" txt */
  { display: none !important; }

  /* padding for question content */
  ._12wan2o2 
  { padding: 40px !important; }
}

@-moz-document domain("chatgpt.com")
{
  :root 
  {
    --black: var(--my-bg) !important;
    --bg-secondary-surface: var(--my-bg) !important;
    --bg-primary: var(--my-bg) !important;
  }
}


@-moz-document domain("youtube.com")
{
  /* bars around video */
  #movie_player 
  { background-color: var(--my-bg) !important; }
}
